.root {
  max-width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.divider {
  width: 100%;
  text-align: center;
  
  line-height: 0.1rem;
  margin: 2rem 0;

  span {
    padding: 0 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05))!important;
  }
}
