.root {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
  color: #fff!important;


}

.userName {
  font-weight: 500;
  font-size: 16px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.additional {
  font-size: 12px;
  opacity: 0.6;
}

.comments{
  font-size: 14px;
  margin-top: 20px;
}
