.content {
  padding: 0px 20px;

  p {
    font-size: 22px;
    line-height: 36px;

    @media (max-width: 600px) {
      font-size: 18px;
      text-align: justify;
    }
  }

  ul, ol {
    li {
      font-size: 22px;
      line-height: 36px;
      margin-bottom: 10px;

      @media (max-width: 600px) {
        font-size: 18px;
        text-align: justify;
      }
    }
  }
}

.postDetails {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;

    svg {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}
