.categories {
  ul {
    display: flex;
    padding-left: 0;

    @media (max-width: 900px){
      overflow-x: auto;
    }

    @media (max-width: 600px){
      display: block;
      li{
        margin-bottom: 5px;
        text-align: center;
        margin-right:0px!important;
      }
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      list-style: none;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &.sda {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}

.tags_block {
  @media (max-width: 900px) {
    display: none !important;
  }
}
